<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear />
  </connectionStrings>

  <system.web>
    <authentication mode="None" />

    <authorization>
      <allow users="*" />
    </authorization>

    <compilation debug="false" />

    <customErrors mode="On"
                  redirectMode="ResponseRewrite">

      <error statusCode="503"
             redirect="~/error/service-unavailable.htm" />
    </customErrors>

    <globalization fileEncoding="utf-8"
                   requestEncoding="utf-8"
                   responseEncoding="utf-8" />

    <healthMonitoring>
      <providers>
        <clear/>
      </providers>

      <rules>
        <clear/>
      </rules>
    </healthMonitoring>

    <sessionState mode="Off" />

    <trace enabled="false" />

    <xhtmlConformance mode="Strict" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="true" />

    <modules runAllManagedModulesForAllRequests="true">
      <add name="CustomErrorsHelperModule"
           type="Com.Prerit.Web.Infrastructure.HttpModules.CustomErrorsHelperModule, Com.Prerit.Web"
           preCondition="managedHandler" />

      <add name="ServiceUnavailableModule"
           type="Com.Prerit.Web.Infrastructure.HttpModules.ServiceUnavailableModule, Com.Prerit.Web"
           preCondition="managedHandler" />
    </modules>
  </system.webServer>
</configuration>