<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions"
                  type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">

      <sectionGroup name="scripting"
                    type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">

        <section name="scriptResourceHandler"
                 type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
                 requirePermission="false"
                 allowDefinition="MachineToApplication" />

        <sectionGroup name="webServices"
                      type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">

          <section name="jsonSerialization"
                   type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
                   requirePermission="false"
                   allowDefinition="Everywhere" />

          <section name="profileService"
                   type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
                   requirePermission="false"
                   allowDefinition="MachineToApplication" />

          <section name="authenticationService"
                   type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
                   requirePermission="false"
                   allowDefinition="MachineToApplication" />

          <section name="roleService"
                   type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
                   requirePermission="false"
                   allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>

    <section name="rewriter"
             requirePermission="false"
             type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
  </configSections>

  <appSettings configSource="app_settings.config" />

  <rewriter>
    <rewrite url="^~/photo_albums/([^/]+)/default.aspx(\?.+)?$"
             to="~/photo_albums/default.aspx?album_year=$1" />

    <rewrite url="^~/photo_albums/([^/]+)/([^/]+)/default.aspx(\?.+)?$"
             to="~/photo_albums/default.aspx?album_year=$1&amp;album_name=$2" />
  </rewriter>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp"
                extension=".cs"
                warningLevel="4"
                type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion"
                        value="v3.5"/>
        <providerOption name="WarnAsError"
                        value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript"
                extension=".vb"
                warningLevel="4"
                type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion"
                        value="v3.5"/>
        <providerOption name="OptionInfer"
                        value="true"/>
        <providerOption name="WarnAsError"
                        value="false"/>
      </compiler>
    </compilers>
  </system.codedom>

  <system.web>
    <authentication mode="None" />

    <authorization>
      <allow users="*" />
    </authorization>

    <compilation debug="false">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>

    <customErrors mode="On"
                  defaultRedirect="~/errors/">

      <error statusCode="403"
             redirect="~/errors/forbidden.htm" />

      <error statusCode="404"
             redirect="~/errors/page_not_found.htm" />
    </customErrors>

    <globalization fileEncoding="utf-8"
                   requestEncoding="utf-8"
                   responseEncoding="utf-8" />

    <healthMonitoring>
      <providers>
        <clear/>

        <add name="AllErrorEventsProvider"
             type="Com.Prerit.Web.Management.BufferedTextFileWebEventProvider, Com.Prerit.Web"
             buffer="true"
             bufferMode="Critical Notification"
             logDirectoryPath="~/logs/"
             logFileNameFormat="yyyy_MM_dd'_error_events.log'" />
      </providers>

      <rules>
        <clear/>

        <add name="All Errors"
             eventName="All Errors"
             provider="AllErrorEventsProvider"
             profile="Critical" />
      </rules>
    </healthMonitoring>

    <httpHandlers>
      <add path="/images/default.aspx"
           verb="*"
           type="System.Web.HttpNotFoundHandler"
           validate="true" />

      <add path="/logs/default.aspx"
           verb="*"
           type="System.Web.HttpNotFoundHandler"
           validate="true" />

      <add path="/styles/default.aspx"
           verb="*"
           type="System.Web.HttpNotFoundHandler"
           validate="true" />

      <add path="/web.sitemap"
           verb="*"
           type="Com.Prerit.Web.GoogleSiteMapHandler, Com.Prerit.Web"
           validate="true" />

      <add path="ScriptResource.axd"
           verb="GET,HEAD"
           type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
           validate="false" />

      <add path="*.asmx"
           verb="*"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
           validate="false" />

      <add path="*_AppService.axd"
           verb="*"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
           validate="false" />

      <add path="*.asax,*.ascx,*.browser,*.cd,*.config,*.cs,*.csproj,*.dsdgm,*.dsprototype,*.java,*.jsl,*.ldb,*.ldf,*.licx,*.lsad,*.lsaprototype,*.master,*.mdb,*.mdf,*.resources,*.resx,*.sdm,*.sdmDocument,*.sitemap,*.skin,*.ssdgm,*.ssmap,*.vb,*.vbproj,*.vjsproj,*.webinfo"
           verb="*"
           type="System.Web.HttpNotFoundHandler"
           validate="true" />
    </httpHandlers>

    <httpModules>
      <add name="ScriptModule"
           type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />

      <add name="UrlRewriter"
           type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
    </httpModules>

    <pages enableViewState="false">
      <controls>
        <add tagPrefix="ajaxtoolkit"
             namespace="AjaxControlToolkit"
             assembly="AjaxControlToolkit" />

        <add tagPrefix="asp"
             namespace="System.Web.UI"
             assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />

        <add tagPrefix="asp"
             namespace="System.Web.UI.WebControls"
             assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />

        <add tagPrefix="ctrl"
             tagName="ajax_processing_notification"
             src="~/controls/ajax_processing_notification.ascx" />

        <add tagPrefix="ctrl"
             tagName="random_photo"
             src="~/controls/random_photo.ascx" />
      </controls>

      <namespaces>
        <add namespace="System.Globalization" />
      </namespaces>
    </pages>

    <sessionState mode="Off" />

    <trace enabled="false"
           localOnly="false"
           pageOutput="false"
           requestLimit="100"
           mostRecent="true"
           writeToDiagnosticsTrace="true"
           traceMode="SortByTime" />

    <siteMap defaultProvider="DefaultDocumentAwareXmlSiteMapProvider">
      <providers>
        <clear/>

        <add siteMapFile="web.sitemap"
             name="DefaultDocumentAwareXmlSiteMapProvider"
             type="Com.Prerit.Web.DefaultDocumentAwareXmlSiteMapProvider, Com.Prerit.Web" />
      </providers>
    </siteMap>

    <xhtmlConformance mode="Strict" />
  </system.web>
</configuration>