<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp"
					  extension=".cs"
					  type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					  warningLevel="4"
					  compilerOptions="/d:TRACE" />
		</compilers>
	</system.codedom>

	<system.diagnostics>
		<assert assertuienabled="false" />

		<trace autoflush="true">
			<listeners>
				<add name="WebLogListener"
					 type="System.Diagnostics.TextWriterTraceListener"
					 initializeData="logs/trace.log" />

				<add name="WebPageListener"
					 type="System.Web.WebPageTraceListener, System.Web, Version=2.0.3500.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</listeners>
		</trace>
	</system.diagnostics>-->

	<system.web>
		<authentication mode="Forms">
			<forms loginUrl="~/"
				   timeout="60" />
		</authentication>

		<authorization>
			<allow users="*" />
		</authorization>

		<compilation debug="true" />

		<customErrors mode="RemoteOnly"
					  defaultRedirect="~/errors/">

			<error statusCode="403"
				   redirect="~/errors/forbidden.htm" />

			<error statusCode="404"
				   redirect="~/errors/page_not_found.htm" />
		</customErrors>

		<globalization fileEncoding="utf-8"
					   requestEncoding="utf-8"
					   responseEncoding="utf-8" />

		<healthMonitoring>
			<providers>
				<clear/>

				<add name="AllErrorEventsProvider"
					 type="Framework.Web.Management.BufferedTextFileWebEventProvider, Framework"
					 buffer="true"
					 bufferMode="Critical Notification"
					 logDirectoryPath="~/logs/"
					 logFileNameFormat="yyyy_MM_dd'_error_events.log'" />

				<add name="FailureAuditEventsProvider"
					 type="Framework.Web.Management.BufferedTextFileWebEventProvider, Framework"
					 buffer="true"
					 bufferMode="Critical Notification"
					 logDirectoryPath="~/logs/"
					 logFileNameFormat="yyyy_MM_dd'_audit_events.log'" />
			</providers>

			<rules>
				<clear/>

				<add name="All Errors Default"
					 eventName="All Errors"
					 provider="AllErrorEventsProvider"
					 profile="Critical" />

				<add name="Failure Audits Default"
					 eventName="Failure Audits"
					 provider="FailureAuditEventsProvider"
					 profile="Critical" />
			</rules>
		</healthMonitoring>

		<httpHandlers>
			<add path="/prerit.com/controls/default.aspx"
				 verb="*"
				 type="System.Web.HttpNotFoundHandler"
				 validate="true" />

			<add path="/prerit.com/images/default.aspx"
				 verb="*"
				 type="System.Web.HttpNotFoundHandler"
				 validate="true" />

			<add path="/prerit.com/logs/default.aspx"
				 verb="*"
				 type="System.Web.HttpNotFoundHandler"
				 validate="true" />

			<add path="/prerit.com/master/default.aspx"
				 verb="*"
				 type="System.Web.HttpNotFoundHandler"
				 validate="true" />

			<add path="/prerit.com/styles/default.aspx"
				 verb="*"
				 type="System.Web.HttpNotFoundHandler"
				 validate="true" />

			<add path="/prerit.com/web.sitemap"
				 verb="*"
				 type="Framework.Web.GoogleSiteMapHandler, Framework"
				 validate="true" />

			<add path="*.ad,*.adprototype,*.asax,*.ascx,*.browser,*.cd,*.config,*.cs,*.csproj,*.dd,*.exclude,*.java,*.jsl,*.ldb,*.ldd,*.lddprototype,*.ldf,*.licx,*.master,*.mdb,*.mdf,*.refresh,*.resources,*.resx,*.sd,*.sdm,*.sdmDocument,*.sitemap,*.skin,*.vb,*.vbproj,*.vjsproj,*.webinfo"
				 verb="*"
				 type="System.Web.HttpNotFoundHandler"
				 validate="true" />
		</httpHandlers>

		<membership defaultProvider="AspNetReadOnlyXmlMembershipProvider">
			<providers>
				<add name="AspNetReadOnlyXmlMembershipProvider"
					 type="Framework.Web.Security.ReadOnlyXmlMembershipProvider, Framework"
					 description="Read-only XML membership provider"
					 xmlFileName="~/app_data/users.xml" />
			</providers>
		</membership>

		<pages enableViewState="false">
			<controls>
				<add tagPrefix="ctrl"
					 tagName="login"
					 src="~/controls/login.ascx" />

				<add tagPrefix="ctrl"
					 tagName="photoSearch"
					 src="~/controls/photo_search.ascx" />

				<add tagPrefix="ctrl"
					 tagName="randomPhoto"
					 src="~/controls/random_photo.ascx" />
			</controls>
			<namespaces>
				<add namespace="System.Globalization" />
			</namespaces>
		</pages>

		<sessionState mode="Off" />

		<trace enabled="true"
			   localOnly="true"
			   pageOutput="false"
			   requestLimit="100"
			   mostRecent="true"
			   writeToDiagnosticsTrace="true"
			   traceMode="SortByTime" />

		<trust level="Medium" />

		<xhtmlConformance mode="Strict" />
	</system.web>
</configuration>