<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="elmah">
      <section name="errorLog"
               requirePermission="false"
               type="Elmah.ErrorLogSectionHandler, Elmah" />

      <section name="errorFilter"
               requirePermission="false"
               type="Elmah.ErrorFilterSectionHandler, Elmah" />

      <section name="security"
               requirePermission="false"
               type="Elmah.SecuritySectionHandler, Elmah" />
    </sectionGroup>

    <section name="uri"
             type="System.Configuration.UriSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

    <section name="dotNetOpenAuth"
             type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection"
             requirePermission="false"
             allowLocation="true" />
  </configSections>

  <connectionStrings>
    <clear />
  </connectionStrings>

  <dotNetOpenAuth>
    <openid>
      <relyingParty>
        <security requireSsl="false" />
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
								 with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth" />
        </behaviors>
      </relyingParty>
    </openid>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- since this is a sample, and will often be used with localhost -->
          <add name="localhost" />
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
  </dotNetOpenAuth>

  <elmah>
    <errorFilter>
      <test>
        <or>
          <equal binding="HttpStatusCode"
                 value="403"
                 type="Int32" />

          <equal binding="HttpStatusCode"
                 value="404"
                 type="Int32" />
        </or>
      </test>
    </errorFilter>

    <errorLog type="Elmah.XmlFileErrorLog, Elmah"
              logPath="~/Logs/" />

    <security allowRemoteAccess="true" />
  </elmah>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp"
                extension=".cs"
                warningLevel="4"
                type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion"
                        value="v3.5" />
        <providerOption name="WarnAsError"
                        value="false" />
      </compiler>

      <compiler language="vb;vbs;visualbasic;vbscript"
                extension=".vb"
                warningLevel="4"
                type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion"
                        value="v3.5" />
        <providerOption name="OptionInfer"
                        value="true" />
        <providerOption name="WarnAsError"
                        value="false" />
      </compiler>
    </compilers>
  </system.codedom>

  <system.net>
    <defaultProxy enabled="true" />

    <mailSettings>
      <smtp>
        <network host="relay-hosting.secureserver.net" />
      </smtp>
    </mailSettings>

    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>

  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="/about"
             loginUrl="/accounts/log-in"
             timeout="20" />
    </authentication>

    <authorization>
      <allow users="*" />
    </authorization>

    <compilation debug="false">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>

    <customErrors mode="On"
                  defaultRedirect="~/ErrorPages/GenericError.htm"
                  redirectMode="ResponseRewrite">

      <error statusCode="403"
             redirect="~/ErrorPages/Forbidden.htm" />

      <error statusCode="404"
             redirect="~/ErrorPages/NotFound.htm" />
    </customErrors>

    <globalization fileEncoding="utf-8"
                   requestEncoding="utf-8"
                   responseEncoding="utf-8" />

    <healthMonitoring>
      <providers>
        <clear/>
      </providers>

      <rules>
        <clear/>
      </rules>
    </healthMonitoring>

    <pages>
      <controls>
        <add tagPrefix="asp"
             namespace="System.Web.UI"
             assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp"
             namespace="System.Web.UI.WebControls"
             assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>

      <namespaces>
        <add namespace="Microsoft.Web.Mvc" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Linq" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>

    <roleManager enabled="true"
                 cacheRolesInCookie="true"
                 cookieTimeout="20"
                 defaultProvider="RoleTypeProvider">
      <providers>
        <clear />

        <add name="RoleTypeProvider"
             type="Com.Prerit.Infrastructure.Providers.RoleTypeProvider"
             applicationName="com.prerit" />
      </providers>
    </roleManager>

    <sessionState mode="InProc"
                  timeout="20" />

    <trace enabled="false"
           localOnly="false"
           pageOutput="false"
           requestLimit="100"
           mostRecent="true"
           writeToDiagnosticsTrace="true"
           traceMode="SortByTime" />

    <xhtmlConformance mode="Strict" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="true" />

    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule" />
      <remove name="UrlRoutingModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />

      <add name="Elmah.ErrorLog"
           type="Elmah.ErrorLogModule, Elmah"
           preCondition="managedHandler" />

      <add name="ErrorFilter"
           type="Elmah.ErrorFilterModule, Elmah"
           preCondition="managedHandler" />

      <add name="CustomErrorsHelperModule"
           type="Com.Prerit.Infrastructure.HttpModules.CustomErrorsHelperModule, Com.Prerit"
           preCondition="managedHandler" />

      <add name="PerRequestLifestyle"
           type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.MicroKernel" />
    </modules>

    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <remove name="MvcHttpHandler" />
      <remove name="UrlRoutingHandler" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <add name="Errors"
           path="/errors"
           verb="POST,GET,HEAD"
           type="Elmah.ErrorLogPageFactory, Elmah"
           preCondition="integratedMode" />
    </handlers>

    <rewrite>
      <rules>
        <clear />
        <rule name="Drop WWW Subdomain (HTTP)" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^off$" />
            <add input="{HTTP_HOST}" pattern="^www\.(.*)" />
          </conditions>
          <action type="Redirect" url="http://{C:1}/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Drop WWW Subdomain (HTTPS)" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^on$" />
            <add input="{HTTP_HOST}" pattern="^www\.(.*)" />
          </conditions>
          <action type="Redirect" url="http://{C:1}/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Drop Default Action" stopProcessing="true">
          <match url="(.*)/index/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Remove Trailing Slash" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}" />
        </rule>
        <rule name="Lower Case" stopProcessing="true">
          <match url="(.*)[A-Z](.*)" ignoreCase="false" />
          <conditions />
          <action type="Redirect" url="{ToLower:{R:0}}" redirectType="Permanent" />
        </rule>
        <rule name="Home Page" stopProcessing="true">
            <match url="^$" />
            <conditions />
            <action type="Redirect" url="/about" redirectType="Permanent" />
        </rule>
        <rule name="Hide Error Pages" stopProcessing="true">
          <match url="^ErrorPages/?(.*)$" />
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="/ErrorPages/NotFound.htm" appendQueryString="false" />
        </rule>
        <rule name="Hide Logs" stopProcessing="true">
          <match url="^Logs/?(.*)$" />
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="/ErrorPages/NotFound.htm" appendQueryString="false" />
        </rule>

        <!-- Rules For Legacy Routes -->
        <rule name="Redirect Microsoft Word Resume" stopProcessing="true">
          <match url="^resume/resume_of_prerit_bhakta.doc$" />
          <conditions />
          <action type="Redirect" url="/resume/formats/microsoft-word" redirectType="Permanent" />
        </rule>
        <rule name="Redirect Adobe Pdf Resume" stopProcessing="true">
          <match url="^resume/resume_of_prerit_bhakta.pdf$" />
          <conditions />
          <action type="Redirect" url="/resume/formats/adobe-pdf" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
	     which is necessary for OpenID urls with unicode characters in the domain/host name. 
	     It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
  <uri>
    <idn enabled="All"/>
    <iriParsing enabled="true"/>
  </uri>
</configuration>
