<?xml version="1.0" encoding="utf-8"?>
<cruisecontrol>
  <project name="com-prerit">
    <workingDirectory>C:\CCNet\com-prerit\trunk</workingDirectory>
    <sourcecontrol type="svn">
      <executable>C:\Program Files\Subversion\bin\svn.exe</executable>
      <trunkUrl>http://com-prerit.googlecode.com/svn/trunk/</trunkUrl>
      <username>com-prerit-read-only</username>
    </sourcecontrol>
    <triggers>
      <intervalTrigger />
    </triggers>
    <tasks>
      <nant>
        <executable>Tools\NAnt\NAnt.exe</executable>
        <buildFile>BuildScripts\CCNet.build</buildFile>
      </nant>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>Build\Debug\TestResults\*.TestResults.xml</file>
        </files>
      </merge>
      <xmllogger />
      <statistics />
    </publishers>
  </project>
</cruisecontrol>
