#languageList li.group2first,
#languageList li.group3first
{
    margin-top: -90pt; /* line-height times max items in a column */
}

#techList li.group2first,
#techList li.group3first
{
    margin-top: -72pt; /* line-height times max items in a column */
}

#dbList li.group2first,
#dbList li.group3first
{
    margin-top: -18pt; /* line-height times max items in a column */
}
